body {
    background: #9c9fba;
    box-sizing: border-box;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 3em auto;
    padding: 0;
    background: #fff;
    box-shadow: 5px 5px 25px #0005;
    border: 1px solid #ccc;
}

main > header {
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    margin: 1em 0 1em -2em;
    padding: 1em 0 1em 4em;
    color: #fff;
    background: #6c6caa;
    box-shadow: 3px 3px 15px #0009;
    text-shadow: 0 0 3px #3a3a6f;
}
main > header h1, main > header h2 {
    margin: 0;
    padding: 0;
    display: inline;
}
main > header h1 {
    color: #cbcbe9;
}
main > header h2 {
    margin-left: 2em;
    color: #fff;
}

main > article {
    margin-bottom: 2em;
    padding: 1em 2em;
}

.warning {
    padding: 5px 10px;
    color: #ba2e00;
    background: #fefebd;
    font-style: italic;
}
p.warning {
    margin-left: -10px;
}