span.forum-label {
    display: inline-block;    
    font-family: Tahoma;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
    font-variant: normal;
    font-style: normal;    
    padding: 1px 4px;
    margin: -1px 0 0 3px;
    vertical-align: middle;    
    border: 1px solid transparent;
    background-color: #3a87ad;
    color: #FFF;
}

span.forum-label-flat-square {
    
}

span.forum-label-flat-rounded {
    border-radius: 3px;
}

span.forum-label-flat-circle {
    border-radius: 10px;
}

span.forum-label-gradient-square {
    background-image: url(/themes/core/images/gradient.png);
    background-position: 0 0;
}

span.forum-label-gradient-rounded {
    background-image: url(/themes/core/images/gradient.png);
    background-position: 0 0;
    border-radius: 3px;
}

span.forum-label-gradient-circle {
    background-image: url(/themes/core/images/gradient.png);
    background-position: 0 0;
    border-radius: 10px;
}

span.forum-label-stroke-square {
    background-color: transparent;
    border-color: #3a87ad;
}

span.forum-label-stroke-rounded {
    background-color: transparent;
    border-color: #3a87ad;
    border-radius: 3px;
}

span.forum-label-stroke-circle {
    background-color: transparent;
    border-color: #3a87ad;
    border-radius: 10px;
}

span.forum-label-hidden {
    background-color: transparent;
    color: #3a87ad;
}
