/* edit/post thread */

.m_forum .thread-labels-edit {
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
    height: 40px;
}

.m_forum .thread-labels-edit .thread-label-dropdown {
    float: left;
    width: 160px;
    margin-right: 20px;
}

.m_forum .thread-labels-edit .thread-label-added {
    margin-left: 180px;
}

.m_forum .thread-labels-edit select.label-add {
    width: 100%;
}

.m_forum .thread-labels-edit p.text-labeling {
    margin-bottom: 5px;
}

.m_forum .thread-labels-edit .thread-label-list {
    height: 15px;
    overflow: hidden;
    padding: 1px 0;
}

.m_forum .thread-labels-edit .forum-label {
    margin-bottom: 1px;
}

.m_forum span.forum-label em {
    font-style: normal;
    padding-left: 10px;
    color: #FFF;
    cursor: pointer;
}


/* bulk moderation */

.m_forum .add-labels-container form.add-labels-form {
    width: 200px;
}

.m_forum .add-labels-container .field {    
    font-size: 11px;
    padding-bottom: 5px;
}

.m_forum .add-labels-container .label-add {
    width: 200px;
    margin-bottom: 15px;
    padding: 3px;
}

.m_forum .add-labels-container .label-buttons {
    margin-top: 10px;
}

.m_forum .add-labels-container .forum-label {
    margin: -1px 95px 10px 3px;
}


/* post admin */
.element_popup.admin-container a {
    margin: 2px 0;
}


/* edit history */

.m_forum a.edit-history-button {
    cursor: pointer;
    font-size: 15px;
    position: relative;
    line-height: 5px;
    left: 3px;
    top: 2px;
    opacity: 0.7;
}

.element_popup.edit-history-window {
    width: 650px;
    min-height: 100px;
    font-size: 13px;
    line-height: 15px;
}

.element_popup.edit-history-window .inner {
    background-color: #0A0A0A;
    color: #7E7E7E;
}

.element_popup.edit-history-window .popup_window_title {
    background-color: #0A0A0A;
    color: #FFF;
}

.element_popup.edit-history-window .window-header {
    float: right;
    margin-right: 15px;
    font-size: 12px;
    line-height: 20px;    
}

.element_popup.edit-history-window .content {
    padding: 0;
    max-height: 500px;
    overflow-y: auto;
}

.element_popup.edit-history-window .loading {
    width: 100%;
    height: 100px;
    line-height: 80px;
    text-align: center;
}

.element_popup.edit-history-window .record {    
    border-bottom: 1px solid #424242;    
}

.element_popup.edit-history-window .record-header {
    height: 25px;
    padding: 10px;
}

.element_popup.edit-history-window .record-username {
    float: left;
}

.element_popup.edit-history-window a.record-avatar {
    border: 1px solid #262626;
    padding: 1px;
}

.element_popup.edit-history-window a.element_username {
    margin-left: 5px;
    vertical-align: top;
    line-height: 20px;
}

.element_popup.edit-history-window .record-meta {
    float: right;
    line-height: 20px;
}

.element_popup.edit-history-window .record-description {
    padding: 0 10px 10px 10px;
}

.element_popup.edit-history-window .record-reason {
    padding: 5px 10px;
    background-color: #161616;
}

.element_popup.edit-history-window .record-reason-header {
    padding-bottom: 3px;
    color: #FFF;
    font-size: 13px;
}


/* general */

.m_forum .contentbox .small-cells .c.empty {
    padding: 10px;
    text-align: center;
}


/* notices */

.m_forum .forum-notices-container {
	padding-top: 1px;
}
.m_forum .forum-notices {
    margin: 12px;
}

.m_forum .forum-notices .inner {
    padding: 10px;
}

.m_forum .forum-notices .title {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.m_forum .forum-notices .delete {
    float: right;
    margin-left: 6px;
    padding: 0 3px;
    cursor: pointer;
    text-decoration: none;
}

.m_forum .forum-notices .pagination {
	float: right;
	position: relative;
	top: 1px;
}

.m_forum .forum-notices .page-turn {
    padding: 0 7px;
    cursor: pointer;
    text-decoration: none;
}

.m_forum .forum-notices .pagination .page-turn.disabled {
    cursor: default;
}

.m_forum .forum-notices .content {
    clear: both;
    padding: 4px 0 7px;
    line-height: 16px;
}

.m_forum .forum-notices .blurred {
    opacity: 0.6;
}

.m_forum .forum-notices .more {
    font-size: 11px;
}


/* thread preview hover */
.m_forum.thread-preview-hover.element_popup {
	max-width:420px;
}
.m_forum.thread-preview-hover.element_popup div {
	clear:both;
	display:block;
	line-height:16px;
}
.m_forum.thread-preview-hover.element_popup .stats {
}
.m_forum.thread-preview-hover.element_popup .post {
	font-weight:bold;
	margin-bottom:12px;
}
.light-theme .m_forum.thread-preview-hover.element_popup .post {
}

.m_forum .notvisible {
    visibility: hidden;
}

.m_forum .dislikes-popup .element_avatar {
    margin-right: 4px;
}

.m_forum .avatar-hover-trigger .element_avatar.avatar img {
    width: 100px;
    height: 100px;
}


/* awards */

.m_forum .awards {
	margin-top: 20px;
}

.m_forum .awards .hide {
	display: none !important;
}

.m_forum .awards .awards_total {
	display: inline-block;
	margin-bottom: 7px;
	text-transform: uppercase;
}

.m_forum .awards .award_link {
	display: inline-block;
	margin-bottom: 6px;
}

.m_forum .awards .view_more {
	display: block;
	font-size: 10px;
}

.m_forum .users-viewing {
	font-size: 12px;
}


/* ban user */

.ban_user_popup {
	width: 500px;
	font-size: 14px;
}

.ban_user_popup .form_elem {
	margin-bottom: 15px;
}

.ban_user_popup .form_elem_padded {
	margin: -5px 0 15px 20px;
}

.ban_user_popup .form_radio {
	vertical-align: middle;
	margin-right: 5px;
}

.ban_user_popup .expire_count {
	display: inline-block;
	width: 70px;
	margin-right: 10px;
}

.ban_user_popup .expire_type {
	width: 120px;
}

.ban_user_popup .expire_date {
	width: 90px;
}

.ban_user_popup .ban_reason {
	width: 200px;
}

.ban_user_popup .form_submit {
	float: right;
	margin-top: -4px;
}

.ban_user_popup .form_error {
	color: #F00000;
}
