
/* fixes for different uses */

.v2_system_social .wall .share .share_new {
	margin: 0;
	padding: 9px;
	font-family: "pt sans",arial,helvetica,sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.v2_system_social .wall .share .mentions-input-box .mentions {
	padding: 9px;
	font-family: "pt sans",arial,helvetica,sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.v2_system_social .wall .comments_reply_input {	
	font-family: "pt sans",arial,helvetica,sans-serif;
	font-size: 14px;
	line-height: 19px;
}

.v2_system_social .wall .comments_post .mentions {	
	font-family: "pt sans",arial,helvetica,sans-serif;
	font-size: 14px;
	line-height: 26px;
}

.m_forum.viewthread .tabbox.reply .section .forum-post-content, 
.m_forum.newthread form .input-textarea textarea, 
.m_forum.newreply form .input-textarea textarea, 
.m_forum.editpost form .input-textarea textarea {
	font-family: "pt sans",arial,helvetica,sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.m_forum.viewthread .tabbox.reply .section .input-textarea .mentions, 
.m_forum.newthread form .input-textarea .mentions, 
.m_forum.newreply form .input-textarea .mentions, 
.m_forum.editpost form .input-textarea .mentions {
	font-family: "pt sans",arial,helvetica,sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.m_news.viewarticle .addcomment .input-textarea textarea {
	font-family: "pt sans",arial,helvetica,sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.m_news.viewarticle .addcomment .input-textarea .mentions {
	font-family: "pt sans",arial,helvetica,sans-serif;
	font-size: 14px;
	line-height: 20px;
}


/* defaults */

.mentions-input-box {
	position: relative;
}

div.mentions-input-box > div.mentions,
div.mentions-input-box > textarea {
	font-family: "pt sans",arial,helvetica,sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.mentions-input-box textarea {
	display: block;
	width: 100%;
	overflow: hidden;
	background-color: transparent;
	position: relative;
	outline: 0;
	resize: none;	
}


.mentions-input-box .mentions-autocomplete-list {
	text-align: left;
	color: #000;
	background-color: #fff;
	border: 1px solid #b2b2b2;
	border-radius: 3px;

	display: none;
	width: 250px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10000;
	margin-top: -2px;

	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
}

.mentions-input-box .mentions-autocomplete-list ul {
    margin: 0;
    padding: 0;
}

.mentions-input-box .mentions-autocomplete-list li {
	padding: 0 10px;
	margin: 0;
	width: auto;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	cursor: pointer;
	list-style: none;
	white-space: nowrap;
}

.mentions-input-box .mentions-autocomplete-list li:last-child {
	border-radius:5px;
}

.mentions-input-box .mentions-autocomplete-list li > img,
.mentions-input-box .mentions-autocomplete-list li > div.icon {
	width: 23px;
	height: 23px;
	float: left;
	margin-top:5px;
	margin-right: 5px;
	-moz-background-origin:3px;

	border-radius:3px;
}

.mentions-input-box .mentions-autocomplete-list li em {
	font-weight: bold;
	font-style: normal;
}

.mentions-input-box .mentions-autocomplete-list li:hover,
.mentions-input-box .mentions-autocomplete-list li.active {
	background-color: #f2f2f2;
}

.mentions-input-box .mentions-autocomplete-list li b {
	background: #ffff99;
	font-weight: normal;
}

.mentions-input-box .mentions {
	position: absolute;
	left: 1px;
	right: 0;
	top: 1px;
	bottom: 0;
	overflow: hidden;

	white-space: pre-wrap;
	word-wrap: break-word;
	text-align: left;
}

.mentions-input-box .mentions > div {
	color: transparent;
	white-space: pre-wrap;
	width: 100%;
}

.mentions-input-box .mentions a {
	color: transparent !important;
}

.mentions-input-box .mentions > div > strong {
	font-weight: normal;
	background-color: #dce6f8;
	opacity: 0.5
}

.mentions-input-box .mentions > div > strong > span {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
